/* Tüm dökümanı biçimlendir */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  direction: ltr; /* Sayfa soldan sağa doğrudur. */
  overflow-x: hidden; /* Sayfa da yatay eksende ok çıkmaz. */
  overflow-y: scroll;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Düzensiz tarayıcılarda sayfa bozulmasını önler. */
  border: none;
  outline: none;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #646464;
  line-height: 1.5; /* Satır Yüksekliği */
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

/* Ekran boyutuna göre @media kullanılarak responsive tasarım kullanılacak. */
@media only screen and (min-width: 1200px) {
  /* XL */
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* L */
  body {
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* M */
  body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* S */
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 575px) {
  /* S */
  body {
    font-size: 12px;
  }
}

#headerField {
  position: fixed;
  display: block;
  z-index: 99;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background-color: #fff;
  text-align: center;
}

#headerMessageField {
  display: block;
  width: 100%;
  min-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #353745;
  border: none;
  outline: none;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  /* XL */
  #headerMessageField {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* L */
  #headerMessageField {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* M */
  #headerMessageField {
    height: 30px;
    min-height: 30px;
    max-height: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* S */
  #headerMessageField {
    height: 30px;
    min-height: 30px;
    max-height: 30px;
  }
}

@media only screen and (max-width: 575px) {
  /* S */
  #headerMessageField {
    height: 25px;
    min-height: 25px;
    max-height: 25px;
  }
}

#headerMessageField img {
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
}

/* Resim boyutlarını sayfa boyutlarına göre göstereceğiz. */
@media only screen and (min-width: 1200px) {
  /* XL */
  #headerMessageField img#headerimage1175x40 {
    /* Resim alanının boyutlandırılmasını yapıyoruz. */
    display: block;
    width: 1175px;
    min-width: 1175px;
    max-width: 1175px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }
  #headerMessageField img#headerimage965x40 {
    display: none;
  }
  #headerMessageField img#headerimage740x30 {
    display: none;
  }
  #headerMessageField img#headerimage500x30 {
    display: none;
  }
  #headerMessageField img#headerimage295x25 {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* L */
  #headerMessageField img#headerimage965x40 {
    /* Resim alanının boyutlandırılmasını yapıyoruz. */
    display: block;
    width: 965px;
    min-width: 965px;
    max-width: 965px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }
  #headerMessageField img#headerimage1175x40 {
    display: none;
  }
  #headerMessageField img#headerimage740x30 {
    display: none;
  }
  #headerMessageField img#headerimage500x30 {
    display: none;
  }
  #headerMessageField img#headerimage295x25 {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* M */
  #headerMessageField img#headerimage740x30 {
    display: block;
    width: 740px;
    min-width: 740px;
    max-width: 740px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
  }
  #headerMessageField img#headerimage1175x40 {
    display: none;
  }
  #headerMessageField img#headerimage965x40 {
    display: none;
  }
  #headerMessageField img#headerimage500x30 {
    display: none;
  }
  #headerMessageField img#headerimage295x25 {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* S */
  #headerMessageField img#headerimage500x30 {
    display: block;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
  }
  #headerMessageField img#headerimage1175x40 {
    display: none;
  }
  #headerMessageField img#headerimage965x40 {
    display: none;
  }
  #headerMessageField img#headerimage740x30 {
    display: none;
  }
  #headerMessageField img#headerimage295x25 {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  /* S */
  #headerMessageField img#headerimage295x25 {
    display: block;
    width: 295px;
    min-width: 295px;
    max-width: 295px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
  }
  #headerMessageField img#headerimage1175x40 {
    display: none;
  }
  #headerMessageField img#headerimage965x40 {
    display: none;
  }
  #headerMessageField img#headerimage740x30 {
    display: none;
  }
  #headerMessageField img#headerimage500x30 {
    display: none;
  }
}

#headermenu {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  text-align: center;
  background-color: red;
}

#headermenuust {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: none;
  /* border-top: 2px solid #000; */
  outline: none;
  text-align: center;
  background-color: brown;
}
#headermenuustsinirlama {
  display: block;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  text-align: center;
  background-color: brown;
}

@media only screen and (min-width: 1200px) {
  /* XL */
  #headermenuustsinirlama {
    width: 1175px;
    min-width: 1175px;
    max-width: 1175px;
  }
}

@media only screen and (max-width: 1199px) {
  /* L */
  #headermenuustsinirlama {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

#headermenuustsecenekleralani {
  display: block;
  list-style: none;
  float: right;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
}
.headermenuustsecenekleri {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  padding: 0;
  padding-top: 5px;
  padding-right: 5px;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
}

.headermenuustsecenekleri a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

.headermenuustsecenekleri a:link,
.headermenuustsecenekleri a:active,
.headermenuustsecenekleri a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.headermenuustsecenekleri a:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: darkblue;
  text-decoration: none;
}
a ion-icon .icon {
  padding-top: 2px;
}
#headermenusınırlandırmaalanı {
  display: block;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: red;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  /* XL */
  #headermenusınırlandırmaalanı {
    width: 1175px;
    min-width: 1175px;
    max-width: 1175px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* L */
  #headermenusınırlandırmaalanı {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* M */
  #headermenusınırlandırmaalanı {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* S */
  #headermenusınırlandırmaalanı {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 575px) {
  /* XS */
  #headermenusınırlandırmaalanı {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

#headermenulogoalanı {
  display: block;
  float: left;
  width: 195px;
  min-width: 195px;
  max-width: 195px;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  margin: 0 auto;
  padding: 0;
  padding-left: 5px;
  border: none;
  outline: none;
  text-align: left;
}
#headermenulogoalanı img {
  display: block;
  width: 192px;
  min-width: 192px;
  max-width: 192px;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
}
#headermenunavalani {
  display: inline-block;
  float: right;
  width: -webkit- calc(100% - 235px);
  width: -moz- calc(100% - 235px);
  width: -o- calc(100% - 235px);
  width: -ms- calc(100% - 235px);
  width: calc(100%-235px);
  min-width: -webkit- calc(100% - 235px);
  min-width: -moz- calc(100% - 235px);
  min-width: -o- calc(100% - 235px);
  min-width: -ms- calc(100% - 235px);
  min-width: calc(100%-235px);
  max-width: -webkit- calc(100% - 235px);
  max-width: -moz- calc(100% - 235px);
  max-width: -o- calc(100% - 235px);
  max-width: -ms- calc(100% - 235px);
  max-width: calc(100%-235px);
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: red;
  text-align: right;
}
#headermenunav {
  float: right;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  background-color: red;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  #headermenunav {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  #headermenunav {
    display: none;
  }
}

#headermenusecenekleralani {
  display: inline-block;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-align: left;
}

@media only screen and (min-width: 1200px) {
  /* XL */
  #headermenusecenekleralani {
    padding-top: 8px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* L */
  #headermenusecenekleralani {
    padding-top: 9px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* M */
  #headermenusecenekleralani {
    padding-top: 10px;
  }
}

.headermenusecenekleri {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #646464;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
}
@media only screen and (min-width: 1200px) {
  /* XL */
  .headermenusecenekleri {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* L */
  .headermenusecenekleri {
    font-size: 13px;
    padding-right: 11px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* M */
  .headermenusecenekleri {
    font-size: 12px;
    padding-right: 12px;
  }
}

.headermenusecenekleri a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  color: white;
  text-align: left;
}
.headermenusecenekleri a:link,
.headermenusecenekleri a:active,
.headermenusecenekleri a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  color: white;
}
.headermenusecenekleri a:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  color: darkblue;
}

#headermenuacmabutonalanı {
  float: right;
  font-size: 32px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: right;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #headermenuacmabutonalanı {
    display: none;
  }
}
#headermenuacmabutonalanı ion-icon {
  display: block;
  font-size: 32px;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
}
#headermenuacılınca {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #3d3d3d;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  #headermenuacılınca {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  #headermenuacılınca {
    display: block;
  }
}
#headermenuacmamenubutonu {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: #3d3d3d;
  text-align: center;
}
#headermenuacılırsecenekalani {
  display: block;
  float: left;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  list-style: none;
  border: none;
  outline: none;
  margin: 0 auto;
  padding: 0;
}
.headermenuacılırmenusecenekleri {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  margin: 0 auto;
  padding: 0;
  padding: 5px 5px 4px 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  font-style: normal;
  font-variant: normal;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}
.headermenuacılırmenusecenekleri a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.headermenuacılırmenusecenekleri a:link,
.headermenuacılırmenusecenekleri a:active,
.headermenuacılırmenusecenekleri a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.headermenuacılırmenusecenekleri a:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  color: red;
}
main {
  position: relative;
  display: block;
  z-index: 98;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  left: 0;
  border: none;
  outline: none;
  background-color: #fff;
  text-align: center;
}
